
@model Complaints






@section scripts{
    <script type="text/javascript">
        if ('@ViewBag.ErrorMessage' != "") {
            alert('@ViewBag.ErrorMessage');
            var description = document.getElementById("description");

            description.value = "";

            description.placeholder = 'Enter the valid description';


            description.style.color = "red";

        }

    </script>
}



                <p>this is nothings</p>

<div class="row">
    <div class="col-md-8">
        <section>
                <p>This is section </p>
                <form name="addComplaint" method="post" asp-controller="Complaint" asp-action="AddComplaint">



                    @Html.AntiForgeryToken()

                    <h4>Complaint Form .</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })





                <div class="form-group">

                    @Html.LabelFor(m => m.description, new { @class = "col-md-8 control-label" })


                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.description, new { @class = "form-control", id = "description", placeholder = "Enter your description", autofocus = "" })

                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                    </div>

                </div>





                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" asp-page-handler="LogIn" class="btn btn-default">Log in</button>
                        </div>
                    </div>



                </form>
        </section>
    </div>
</div>