@model HRP.ViewModels.RegisterVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Civilian Officer Registration Form</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" asp-controller="Register" asp-action="Civilian">
                @Html.AntiForgeryToken()


             

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row col-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.sin, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.user.sin, new { @class = "form-control", @type = "number" })
                            @*@Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.user.fname, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.user.fname, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.lname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.lname, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.email, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.user.password, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.contact, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.contact, new { @class = "form-control", @type = "number" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.gender, new { @class = "col-md-2 control-label" })
                    @Html.RadioButtonFor(m => m.user.gender, "M", false)@Html.Label("Male")
                    @Html.RadioButtonFor(m => m.user.gender, "F", false)@Html.Label("Female")
                    @Html.RadioButtonFor(m => m.user.gender, "O", false)@Html.Label("Others")
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.user.dob, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user.dob, new { @class = "form-control", @type= "date" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.door_no, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.door_no, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.street_name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.street_name, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.unit, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.unit, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.city, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.city, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.province, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.province, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.postal_code, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.postal_code, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address.country, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address.country, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button asp-page-handler="Register" class="btn btn-default">REGISTER</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div> 