
@model Admin
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@section scripts{
    <script type="text/javascript">
        if ('@ViewBag.ErrorMessage' != "") {
            alert('@ViewBag.ErrorMessage');
            var username = document.getElementById("username");
            var password = document.getElementById("password");
            username.value = "";
            password.value = "";
            username.placeholder = 'Enter the valid username';
            password.placeholder = 'Enter the valid password';

            

        }

    </script>
}

<div class="row">
    <div class="col-md-8">
        <section>
            <form name="login" method="post" asp-controller="Login" asp-action="AdminLogin">
                @Html.AntiForgeryToken()

                <h4>Admin Log In.</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    @Html.LabelFor(m => m.username, new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control", id = "username", placeholder = "Enter your username",autofocus="" })

                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", id = "password", placeholder = "Enter your password" })
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" asp-page-handler="LogIn" class="btn btn-default">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
