
@model HRP.ViewModels.ComplaintVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Views/Shared/_PoliceLayout.cshtml";
    var title = "Complaint Report";
    ViewData["Title"] = title;

}
<div class="row">
    <div class="col-md-8">
        <section>
            <form name="login" asp-controller="Police" asp-action="ViewComplaints">
                @Html.AntiForgeryToken()

                <h4> Complaint Detail</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">

                    @Html.LabelFor(m => m.complaints.id, new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.complaints.id, new { @class = "form-control", id = "id", @Value = Model.complaints.id, autofocus = "", @readonly = "readonly" })


                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.status_name, new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        <input for="sin" type="text" readonly placeholder="Provide the SIN" name="sin" id="sin" class="form-control" value="@Model.status_name" required>



                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.complaint_type_name, new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        <input for="sin" type="text" placeholder="Provide the SIN" name="sin" id="sin" class="form-control" value="@Model.complaint_type_name" readonly required>



                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.complaints.description, new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        <p class="form-control">@Model.complaints.description"</p>



                    </div>
                    <h4> Complaint Reporter Detail</h4>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.fname, new { @class = "col-md-8 control-label" })
                        <div class="col-md-10">
                            <input for="sin" type="text" readonly class="form-control" value="@Model.user.fname" required>



                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.user.lname, new { @class = "col-md-8 control-label" })
                            <div class="col-md-10">
                                <input for="sin" type="text" readonly class="form-control" value="@Model.user.lname" required>



                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.user.email, new { @class = "col-md-8 control-label" })
                                <div class="col-md-10">
                                    <input for="sin" type="text" readonly class="form-control" value="@Model.user.email" required>

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.user.contact, new { @class = "col-md-8 control-label" })
                                    <div class="col-md-10">
                                        <input for="sin" type="text" readonly class="form-control" value="@Model.user.contact" required>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.address.door_no, new { @class = "col-md-8 control-label" })
                                        <div class="col-md-10">
                                            <input for="sin" type="text" readonly class="form-control" value="@Model.address.door_no" required>

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.address.street_name, new { @class = "col-md-8 control-label" })
                                            <div class="col-md-10">
                                                <input for="sin" type="text" readonly class="form-control" value="@Model.address.street_name" required>



                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.address.unit, new { @class = "col-md-8 control-label" })
                                                <div class="col-md-10">
                                                    <input for="sin" type="text" readonly class="form-control" value="@Model.address.unit" required>



                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.address.city, new { @class = "col-md-8 control-label" })
                                                    <div class="col-md-10">
                                                        <input for="sin" type="text" readonly class="form-control" value="@Model.address.city" required>



                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.address.province, new { @class = "col-md-8 control-label" })
                                                        <div class="col-md-10">
                                                            <input for="sin" type="text" readonly class="form-control" value="@Model.address.province" required>



                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.address.postal_code, new { @class = "col-md-8 control-label" })
                                                            <div class="col-md-10">
                                                              <input for="sin" type="text" readonly class="form-control" value="@Model.address.postal_code" required>

                                                            </div>


                                                        </div>
                                                    </div>







                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">BACK</button>
                        </div>
                    </div>
</form>
        </section>
    </div>
</div>
